/* .navbar{
    background-color: #3b71ca;
} */
/* .rent1{
    display: inline;
}
.rent{
    margin-left: 100px;
}
.search-bar{
    margin-right: 100px;
    display: inline;
} */
/* .navbar button {
    float: left;
    padding: 10px 10px;
} */
.nav-sticky{
    position: sticky;
}
